<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>预约订单查看</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<style>
			.back {
				font-size: 14px;
				border-radius: 0 2px 2px 0;
				background-color: #f2f2f2;
				padding: 2px 10px;
				border-left: 5px solid rgb(25, 159, 147);
			}
			
			.tdd>select {
				width: 12.5%;
			}
		</style>
	</head>

	<body>
		<div class="">
			<form class="form-inline" id="orderDetail">
				<table class="table table-hover table-condensed table-bordered">
					<TBODY style="margin-top:20px">
						
						<TR>
				            <TD align="center">会员:</TD>
							<TD v-text="orderDeObj.username" width="10%" align="center">
							<input name="userid" type="text" id="userid" value="470" size="10" maxlength="10" style="display:none;" :value="orderDeObj.username"/></TD>
							<TD width="18%" align="center">商家:</TD>
							<TD width="18%" align=center  v-text="orderDeObj.shopname">vv;</TD>
							
						</TR>
						<TR>
							<TD align=center>订单编号:</TD>
							<TD v-text="orderDeObj.orderid" align="center">18586837838657</TD>
							<TD align="center">订单金额:</TD>
							<TD v-text="orderDeObj.totalprice" align="center">500</TD>
						</TR>

						<TR>
							<TD align="center">服务:</TD>
							<TD colspan="3">&nbsp;&nbsp;<img src="/Uploads/image/2017-12/20171220034427-19586.jpeg" alt="机关干部沟沟壑壑" width="135" /></TD>
						</TR>
						<TR>
							<TD align=center>备注:</TD>
							<TD colspan="3" v-text="orderDeObj.remarks" align="center">2501509959</TD>
						</TR>

						<TR>
							<TD width="18%" align=center >下单时间:</TD>
							<TD width="32%" v-text="orderDeObj.ordertime" align="center">
								2019-02-20 10:09 </TD>
							<TD width="18%" align="center">付款时间:</TD>
							<TD width="32%" v-text="orderDeObj.paymenttime" align="center">106.18.85.151</TD>
						</TR>
						<TR>
							<TD width="18%" align=center>接单时间:</TD>
							<TD width="32%" v-text="orderDeObj.receiptTime" align="center">
								2019-03-08 16:00 </TD>
							<TD align="center">服务时间:</TD>
							<TD width="32%" v-text="orderDeObj.provideServicesTime" align="center"></TD>
						</TR>
						<TR>

							<TR>
								 <TD align="center"><span class="c_4 f12">完成时间</span>:</TD>
						            <TD v-text="orderDeObj.completeTime" align="center" >              -</TD>
						            <TD align="center">&nbsp;</TD>
						            <TD >&nbsp;</TD>
							</TR>
							<TR>
								<TD align="center">订单状态:</TD>
								<td v-if="orderDeObj.orderStatus==1" style="color:#f00" align="center">待付款</td>
								<td v-if="orderDeObj.orderStatus==2" align="center">待接单</td>
								<td v-if="orderDeObj.orderStatus==3" align="center">待提供服务</td>
								<td v-if="orderDeObj.orderStatus==4" align="center">已提供服务</td>
								<td v-if="orderDeObj.orderStatus==5" align="center">服务完成</td>
								<td v-if="orderDeObj.orderStatus==6" align="center">服务取消</td>
								<td v-if="orderDeObj.orderStatus==12" align="center">已退款</td>
							</TR>
							
							<tr>
			            <TD><input type="hidden" name="id" value="61"></TD>
			            <td colspan="1"></td>
			            <TD colspan="1" style="text-align: right;">
			            	<button type="button"  class="btn btn-success">保存</button>
			            </TD>
			            <TD colspan="1" >
			            	<button type="button"  class="btn btn-default" onClick="history.go(-1)">返回</button>
			            </TD>
			          </tr>
							
						

					</TBODY>

				</table>
			</form>
		</div>
	</body>
	<script src="../../js/jquery-1.12.4.js"></script>
	<script src="../../js/bootstrap.min.js"></script>
	<script src="../../js/vue.js"></script>
<script type="text/javascript">
		var orderid=window.sessionStorage.getItem("orderid");
		var vmCnt = new Vue({
			el: "#orderDetail",
			data: {
				orderDeObj:{
					
				}
			},

			//方法
			methods: {
				
			},
		
		created: function() {
			var orderid=window.sessionStorage.getItem("orderid");
			$.ajax({
				url : "/c/cmservice/queryorderDetail",
				type : "get",
				data:{"orderid":orderid},
				dataType : "json",
				success : function(obj){
					vmCnt.orderDeObj = obj; 
				}
			});
			
		} 
 
	});
	</script>
</html>
