<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>服务级别管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
	<link rel="stylesheet" href="../../css/news.css" media="all" />
</head>
<body class="childrenBody">
<div id="vmCnt">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline" style="font-weight: bolder;">服务级别管理：
			
			<div class="layui-input-inline">
		    	<div class="layui-input-inline">
		    	<select  name="stid" id="stid" class="layui-input search_input">
		    		<option value="0">所有</option>
                   <option v-for="temp in selType" v-bind:value="temp.stid">
						{{temp.stname}}</option>
		    	</select>
		    	</div>
		    	<a class="layui-btn search_btn" @click="likeSearch()">搜索</a>
		    </div>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-danger batchDel">批量删除</a>
		</div>
		<div class="layui-inline" style="float:right">
			<a class="layui-btn search_btn">更新</a><a class="layui-btn layui-btn-normal newsAdd_btn">增加级别</a>
		</div>
	</blockquote>
	<div class="layui-form links_list">
	  	<table class="layui-table">
		    <colgroup>
				<col width="10%">
				<col width="10%">
				<col width="13%">
				<col width="20%">
				<col width="15%">
				<col width="15%">
				<col width="13%"/>
		    </colgroup>
		    <thead>
				<tr>
					<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
					<th>ID</th>
					<th>级别名称</th>
					<th>分类</th>
					<th>最小值</th>
					<th>最大值</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="links_content">
			    	<tr v-for="(temp,index) in selLevelList">
			    		<td><input type="checkbox" name="checked" lay-skin="primary" lay-filter="choose"></td>
			    		<td v-text="temp.serlevelid"></td>
			    		<td v-text="temp.serlevelname"></td>
			    		<td v-text="temp.stname"></td>
			    		<td v-text="temp.serviceintegralmin"></td>
			    		<td v-text="temp.serviceintegralmax"></td>
			    		<td>
			    			<a class="layui-btn layui-btn-mini links_edit" @click="updateInfo($event, temp.serlevelid,index)"><i class="iconfont icon-edit"></i> 编辑</a>
        					<a class="layui-btn layui-btn-danger layui-btn-mini links_del" v-bind:data-id="temp.serlevelid">
        					 <!-- @click="removeInfo($event,temp.serlevelid,index)" -->
        					<i class="layui-icon">&#xe640;</i> 删除</a>　
			    		</td>
			    	</tr>
		    </tbody>
		</table>
	</div>
	<!-- <div id="page"></div> -->
	
	</div><!-- vmCnt -->
</body>
	<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript" src="serviceLevel.js"></script>
	<script type="text/javascript" src="../service/serviceLevelAdd.js"></script>
	<script type="text/javascript">
		var vmCnt=new Vue({
			el: "#vmCnt",
			data: {
				allData: {
					text: '全选',
					parCheck: false
				},
				selLevelList:[],
				selType:[]
			},
			methods:{
				likeSearch:function(){
					stid=$("#stid").val();
					$.ajax({
						url : "/c/cmservice/querylevel",
						type : "get",
						data:{"stid":stid},
						dataType : "json",
						success : function(jsondata){
							vmCnt.selLevelList = jsondata.list;
						}
					})
				},
				updateInfo: function(e, serlevelid, index) {
					window.sessionStorage.setItem("serlevelid", serlevelid);
					window.location.href="../service/serviceLevelUpdate.html";
				},
				removeInfo: function(e, serlevelid, index) {
					if(window.confirm('是否移除')) {
						this.selLevelList.splice(index, 1); //移除
					}
				} 
			},
			created:function(){
				$.ajax({
					url : "/c/cmservice/selType",
					type : "get",
					dataType : "json",
					success : function(data){
						vmCnt.selType=data;
					}
				});
				$.ajax({
					url : "/c/cmservice/querylevel",
					type : "get",
					data:{"stid":0},
					dataType : "json",
					success : function(data){
						vmCnt.selLevelList = data.list;
					}
				})
			}
		});
	</script>
</html>