<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>服务审核管理</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.back {
	font-size: 14px;
	border-radius: 0 2px 2px 0;
	background-color: #f2f2f2;
	padding: 2px 10px;
	border-left: 5px solid rgb(25, 159, 147);
	height:35px;
}

table thead tr>th, tr>td {
	text-align: center;
}
</style>
</head>
<body>
	<div class="" id="sellistVm1">
		<blockquote class="back">
			<p style="font-weight: bold; padding-top: 10px;">服务审核管理：</p>
		</blockquote>
		<div class="col-md-12 col-xs-12"></div>
		<div>
			<table class="table table-bordered">
				<thead style="background-color: #f2f2f2;">
					<tr>
						<th>ID</th>
						<th style="width:9%">栏目名称</th>
						<th style="width:10%">未操作时间</th>
						<th style="width:10%">自动确认时间</th>
						<th style="width:10%">服务违约天数</th>
						<th style="width:10%">违约金比例</th>
						<th style="width:12%">是否审核</th>
						<th style="width:20%">广告</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
				
				
				<tr v-for="(temp,index) in membersPageInfo.list">
					<td v-text="temp.stid">1</td>
					<td v-text="temp.stname">15389827632133</td>
					<td><input type="text" v-model="temp.operationtime" style="width:25%;"/> 天</td>
					<td><input type="text" v-model="temp.confirmtime" style="width:25%"/> 小时</td>
					<td><input type="text" v-model="temp.violatednumber" style="width:25%"/> 天</td>
					<td><input type="text" v-model="temp.proportion" style="width:25%"/> %</td>

					<td><input name="toexamine" v-model="temp.toexamine"
								type="radio" value="true" />需要 <input name="toexamine"
								v-model="temp.toexamine" type="radio" value="false" />不需要</td>

					<td align=center><img :src="temp.advertisement"></td>
					<td><a href="javascript:void(0)" @click="memberShow(temp.stid)">查看</a></td>
				</tr>
				</tbody>
				<tfoot>
					
					<tr>
						<td colspan="9">
							<ul class="pager">
								<li>
									<!--@click="goToPage(1,emailsPageInfo.pageSize)"--> <a
									href="javascript:void(0)"
									@click="goToPage(1,membersPageInfo.pageSize)"> 首页 </a>
								</li>
								<li v-if="membersPageInfo.hasPreviousPage==true"><a
									href="javascript:void(0)"
									@click="goToPage(membersPageInfo.prePage, membersPageInfo.pageSize)">
										上一页 </a></li>
								<li v-if="membersPageInfo.hasNextPage==true"><a
									href="javascript:void(0)"
									@click="goToPage(membersPageInfo.nextPage, membersPageInfo.pageSize)">
										下一页 </a></li>
								<li><a href="javascript:void(0)"
									@click="goToPage(membersPageInfo.lastPage,membersPageInfo.pageSize)">
										尾页 </a></li>
								<li>第<span style="border: none; padding: 0 2px;"
									v-text="membersPageInfo.pageNum">1</span>页， 共<span
									style="border: none; padding: 0 2px;"
									v-text="membersPageInfo.pages">5</span>页
								</li>
							</ul>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</body>
<script src="../../js/jquery-1.12.4.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/vue.js"></script>
<script type="text/javascript">

	var listVm = new Vue({
		el: "#sellistVm1",
		data: {
			//预约信息
			membersPageInfo: {}
		},

		//方法
		methods: {
			goToPage: function(n, s) {
				$.ajax({
					url : "/c/cmservice/queryaudit",
					type : "get",
					dataType : "json",
					data:{
						PageNum:n,
            			PageSize:s
					},
					success : function(data){
						listVm.membersPageInfo = data;
						console.log(listVm.membersPageInfo)
					}
				})
			},
			//查看
			memberShow:function(stid){
				window.sessionStorage.setItem("stid", stid);
				window.location.href="../service/serviceCheckUpdate.html";
			}
		},

		//组件创建
		created: function() {
			this.goToPage(1, 10);
			
		}
	});
</script>
</html>
