<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>添加服务级别</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
</head>
<body class="childrenBody">
	<div>
	<form class="" id="vmCnt1">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">服务类型:</label>
				<div class="layui-input-inline" style="margin-top: 7px;">
					<select  name="stid" id="stid" class="layui-input search_input">
		    		<option value="0">所有</option>
                   <option v-for="temp in selType" v-bind:value="temp.stid" >
						{{temp.stname}}</option>
		    	</select>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">级别名称:</label>
			<div class="layui-input-block">
				<INPUT type="text" class="layui-input" id="level_name"  style="width:21%" v-model="selLevel.serlevelname">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">交易金额:</label>
			<div class="layui-input-inline">
				
				<input name="minmoney"  class="layui-input-inline" style="width:25%" type="text" id="minmoney" value="" size="10" v-model="selLevel.serviceintegralmin">
             	<span>————</span>
			</div>
			<div class="layui-input-inline">
				&nbsp;<input name="maxmoney"  class="layui-input-inline" style="width:25%;margin-left:-80px" type="text" id="maxmoney" value="" size="10" v-model="selLevel.serviceintegralmax">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" @click="submit()">保存</button>
				<button type="reset" class="layui-btn layui-btn-primary" style="margin-left: 110px;">重置</button>
		    </div>
		</div>
	</form>
	</div>
</body>
	<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript" src="serviceLevelAdd.js"></script>
	<script type="text/javascript">
	var vmCnt1  = new Vue({
		el: "#vmCnt1",
		data: {
			allData: {
				text: '全选',
				parCheck: false
			},
			selLevel:{
				stid:"",
				serlevelname:"",
				serviceintegralmin:"",
				serviceintegralmax:""
			},
			selType:[]
		},
		
		//属性过滤器
		
		methods:{
			submit:function(){
				/* this.selLevel.stpid=$("[name=stpid]").val();
				this.selLevel.display=$('input[name="display"]:checked').val(); */
				this.selLevel.stid=$("[name=stid]").val();
				var _selLevel=this.selLevel;
				$.ajax({
					url:"/c/cmservice/addsellevel",
					type:"post",
					dataType:"json",
					contentType:"application/json",
					data:JSON.stringify(_selLevel),
					success:function(json){
						if(json.code==200){
							alert("数据"+JSON.stringify(_selLevel))
							location.href="../service/serviceLevel.html";
						}else{
							showAlertDialog("更新失败");
						}
					}
				});
			}
		},
		created:function(){
			$.ajax({
				url : "/c/cmservice/selType",
				type : "get",
				dataType : "json",
				success : function(data){
					vmCnt1.selType=data;
				}
			});
		}
	});
	</script>
</html>
