<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>服务类别管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
	<!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
	<link rel="stylesheet" href="../../css/news.css" media="all" /> -->
</head>
<body class="childrenBody">
<div  id="vmCnt">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">服务类型：
		    <div class="layui-input-inline">
		    	<select  name="stid" id="stid" class="layui-input search_input">
		    		<option value="0">所有</option>
                   <option v-for="temp in selType" v-bind:value="temp.stid">
						{{temp.stname}}</option>
		    	</select>
		    </div>
		    <a class="layui-btn search_btn" @click="likeSearch()">查询</a>
		</div>
		
		<div class="layui-inline" style="float:right">
			<!-- <div class="layui-form-mid layui-word-aux">本页面刷新后除新添加的链接外所有操作无效，关闭页面所有数据重置</div> -->
			<a class="layui-btn search_btn">更新栏目</a><a class="layui-btn layui-btn-normal" @click="addInfo($event)">增加栏目</a>
		</div>
	</blockquote>
	<div class="" >
	  	<table class="layui-table" id="table1">
		    <colgroup>
				
				<col width="10%">
				<col width="25%">
				<col>
				<col>
				<col>
				<col>
				<col width="13%">
		    </colgroup>
		    <thead>
				<tr>
					<th>ID</th>
					<th>分类名称</th>
					<th>排序</th>
					<th>是否显示</th>
					<th>操作</th>
				</tr> 
		    </thead>
		    <tbody class="links_content">
		    	<template v-for="(temp,index) in serviceTypeList">
						<tr>
							<td v-text="temp.stid"></td>
							<td v-text="temp.stname" @click="nextInfo(temp.stid,this)">会员名称</td>
							<td><input type="text" :value="temp.sort" /></td>
							<td><input :name="'dis'+index" v-model="temp.display"
								type="radio" value="true" />显示 <input :name="'dis'+index"
								v-model="temp.display" type="radio" value="false" />不显示</td>
							<td>
								<a class="layui-btn layui-btn-mini links_edit" @click="updateInfo($event, temp.stid, index)"><i class="iconfont icon-edit"></i> 编辑</a>
							<!-- <a href="javascript:void(0)"
								@click="removeInfo(temp.stid)">删除</a> -->
								</td>
						</tr>
						
						<template v-for="tem in temp.data">
							<tr>
						        <td v-text="tem.stid"></td>
								<td v-text="'— '+tem.stname" @click="nextInfo(tem.stid,this)">会员名称</td>
								<td>— <input type="text" :value="tem.sort" /></td>
								<td><input :name="'dis2'+index+tem.stid" v-model="tem.display"
									type="radio" value="true"/>显示 <input :name="'dis2'+index+tem.stid"
									v-model="tem.display" type="radio" value="false" />不显示</td>
								<td><a class="layui-btn layui-btn-mini links_edit"  @click="updateInfo($event, tem.stid, index)"><i class="iconfont icon-edit"></i> 编辑</a>
        					<a class="layui-btn layui-btn-danger layui-btn-mini links_del" v-bind:data-id="tem.stid"><i class="layui-icon">&#xe640;</i> 删除</a>　
							<!-- <a href="javascript:void(0)"
								@click="removeInfo(temp.stid)">删除</a> --></td>
						       
					        </tr>
					        
					        <template v-for="te in tem.data">
							<tr>
						          	<td v-text="te.stid"></td>
									<td v-text="'— — '+te.stname" @click="nextInfo(te.stid,this)">会员名称</td>
									<td>— — <input type="text" :value="te.sort" /></td>
									<td><input :name="'dis3'+index+te.stid" v-model="te.display"
										type="radio" value="true" />显示 <input :name="'dis3'+index+te.stid"
										v-model="te.display" type="radio" value="false" />不显示</td>
									<td><a class="layui-btn layui-btn-mini links_edit"  @click="updateInfo($event, te.stid, index)"><i class="iconfont icon-edit"></i> 编辑</a>
        					<a class="layui-btn layui-btn-danger layui-btn-mini links_del" v-bind:data-id="te.stid"><i class="layui-icon">&#xe640;</i> 删除</a>　
							<!-- <a href="javascript:void(0)"
								@click="removeInfo(temp.stid)">删除</a> --></td>
						    </tr>
						</template>
					        
						</template>
					
					</template>
				</tbody>
		    
		   
		</table>
	</div>
	
	</div>
	
	<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	
 	<!-- <script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript" src="../service/serviceType.js"></script> 
	<script type="text/javascript" src="../service/serviceTypeAdd.js"></script> -->
	<script>
		var stid=$("#stid").val();
		var vm = new Vue({
			el: "#vmCnt",
			data: {
				allData: {
					text: '全选',
					parCheck: false
				},
				serviceTypeList:[],
				selType:[]
			},
			
			//属性过滤器
			
			methods:{
				goToPage: function(stid) {
					$.ajax({
						url : "/c/cmservice/querytype",
						type : "get",
						data:{"stid":stid},
						dataType : "json",
						success : function(jsondata){
							var topArr = []; //声明一个数组，存储所有的json数据
							for (var i = 0; i < jsondata.length; i++) {
								if (jsondata[i].stpid == 0) {
									jsondata[i].data = []; //给一级菜单下面添加data数据，存放二级菜单
									topArr.push(jsondata[i]); //得到一级菜单
								}
							}

							for (var j = 0; j < topArr.length; j++) {
								for (var i = 0; i < jsondata.length; i++) {
									if (jsondata[i].stpid == topArr[j].stid) {
										jsondata[i].data = [];
										topArr[j].data
												.push(jsondata[i]); //把获取的二级菜单存放到一级菜单的data对象中
									}
								}
							}

							for (var j = 0; j < topArr.length; j++) {
								for (var m = 0; m < topArr[j].data.length; m++) {
									for (var i = 0; i < jsondata.length; i++) {
										if (jsondata[i].stpid == topArr[j].data[m].stid) {
											topArr[j].data[m].data
													.push(jsondata[i]); //把获取的三级菜单存放到二级菜单的data对象中
										}
									}
								}
							}
							vm.serviceTypeList = topArr;
						}
					})
				},
			
				nextInfo : function(stid,objs) {
					var nums=$(objs).parent().attr("class");
				},
				likeSearch:function(){
					stid=$("#stid").val();
					$.ajax({
						url : "/c/cmservice/querytype",
						type : "get",
						data:{"stid":stid},
						dataType : "json",
						success : function(jsondata){
							var topArr = []; //声明一个数组，存储所有的json数据
							for (var i = 0; i < jsondata.length; i++) {
								if (jsondata[i].stpid == 0) {
									jsondata[i].data = []; //给一级菜单下面添加data数据，存放二级菜单
									topArr.push(jsondata[i]); //得到一级菜单
								}
							}

							for (var j = 0; j < topArr.length; j++) {
								for (var i = 0; i < jsondata.length; i++) {
									if (jsondata[i].stpid == topArr[j].stid) {
										jsondata[i].data = [];
										topArr[j].data
												.push(jsondata[i]); //把获取的二级菜单存放到一级菜单的data对象中
									}
								}
							}

							for (var j = 0; j < topArr.length; j++) {
								for (var m = 0; m < topArr[j].data.length; m++) {
									for (var i = 0; i < jsondata.length; i++) {
										if (jsondata[i].stpid == topArr[j].data[m].stid) {
											topArr[j].data[m].data
													.push(jsondata[i]); //把获取的三级菜单存放到二级菜单的data对象中
										}
									}
								}
							}
							vm.serviceTypeList = topArr;
						}
					})
				},
				/* removeInfo: function(e, pid, index) {
					if(window.confirm('是否移除')) {
						this.persons.splice(index, 1); //移除
					}
				}, */
				updateInfo: function(e, stid, index) {
					window.sessionStorage.setItem("stid", stid);
					window.location.href="../service/serviceTypeUpdate.html";
				},
				addInfo:function(e){
					window.location.href="serviceTypeAdd.html";
				}
			},
			created:function(){
				this.goToPage(0);
				$.ajax({
					url : "/c/cmservice/selType",
					type : "get",
					dataType : "json",
					success : function(data){
						vm.selType=data;
					}
				})
			} 
		});
	</script>
	<!--<script type="text/javascript" src="serviceTypeAdd.js"></script>-->
</body>
</html>