<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>服务栏目添加--layui后台管理模板</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="../../layui/css/layui.css" media="all" />
</head>
<body class="childrenBody">
	<form class="layui-form" id="vmCnt">
		
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">上级服务名:</label>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">服务分类名:</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" placeholder="请输入服务分类" lay-verify="required" style="width:19%" v-model="selType.stname">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">排序:</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" size=40 type="text" name="sort" value=""  style="width:19%" v-model="selType.sort"> 
			</div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label">是否显示：</label>
		    <div class="layui-input-block">
		      <input type="radio" name="display" value="true" title="是">
		      <input type="radio" name="display" value="false" title="否">
		    </div>
  		</div>
		
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" @click="submit()">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	
</body>
	<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript">
	
	/* var vm = new Vue({
		el: "#vmCnt",
		data: {
			allData: {
				text: '全选',
				parCheck: false
			},
			selType:{
				stpid:"",
				stname:"",
				sort:"",
				display:""
			}
		},
		
		//属性过滤器
		
		methods:{
			submit:function(){
				this.selType.stpid=$("[name=stpid]").val();
				this.selType.display=$('input[name="display"]:checked').val();
				var _selType=this.selType;
				$.ajax({
					url:"/c/cmservice/saveseltype",
					type:"post",
					dataType:"json",
					contentType:"application/json",
					data:JSON.stringify(_selType),
					success:function(json){
						if(json.code==200){
							alert("数据"+JSON.stringify(_selType))
							showAlertDialog("更新成功");
							closeWindowDialog();
						}else{
							showAlertDialog("更新失败");
						}
					}
				});
			}
		},
		created:function(){
			
		}
	}); */
	</script>
</html>